alias ll="ls -lahL"

alias ..="cd .."
alias ...="cd ../.."

# Recursively remove .DS_Store files
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

# Copy to clipboard without newline
alias copy="xargs echo -n | pbcopy"

