alias ll="ls -lahL"

alias ..="cd .."
alias ...="cd ../.."

# Recursively remove .DS_Store files
alias cleanupds="find . -type f -name '*.DS_Store' -ls -delete"

# It's all in the name...
alias fucknpm="rm -r ./node_modules && npm install"

# Copy to clipboard without newline
alias copy="xargs echo -n | pbcopy"

alias k=kubectl
ksn() {
    kubectl config set-context --current --namespace=$1
}

alias g=git
alias gc="git checkout"
alias gs="git status"
alias gst="git stash"
alias gsp="git stash pop"
alias gm="git merge"
alias gp="git pull -r"

alias dcu="docker-compose up"
alias dcd="docker-compose down"

dcb() {
    docker-compose build $@
}

clip() {
    cat $1 | pbcopy
}
